#balance {
	width: 100%;
	padding: 27px 15px 15px 15px;

	.info {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		svg {
			fill: $inactive;
		}
	}

	.head {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto 23px auto;

		.info {
			width: 20px;
			height: 29px;

			svg {
				fill: $inactive;
			}
		}
	}

	h1 {
		margin-left: 20px;
		font-size: 22px;
		line-height: 29px;
		font-weight: 500;
		text-transform: uppercase;

		@media (max-width: 389px) {
			font-size: 18px;
		}
	}

	.sub-title {
		height: 18px;
		color: $second-font;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: -0.28px;
		padding-left: 16px;
		margin-bottom: 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.col {
			display: flex;
			align-items: center;
		}

		.info {
			width: 13px;
			height: 18px;
			padding-top: 5px;
			padding-bottom: 3px;

			svg {
				fill: $inactive;
			}
		}

		.icon {
			cursor: pointer;
		}
	}

	.wallets {
		margin-bottom: 15px;
		background: $gradient;
		border-radius: $radius;
		border: 1px solid $accent;

		.wallet {
			height: $block-height;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid $accent;
			padding: 0 15px;

			&:last-child {
				border-bottom: none;
			}

			.currency {
				display: flex;
				align-items: center;
				gap: 4px;
				color: $font;
				font-size: 12px;
				font-weight: 400;
				letter-spacing: -0.24px;
			}

			.icon {
				width: 20px;
				height: 20px;
				display: flex;
				align-items: center;
				justify-content: center;

				&.token svg {
					fill: white;
				}
			}

			.value {
				color: $font;
				font-size: 14px;
				font-weight: 500;
				letter-spacing: -0.28px;
			}
		}
	}

	.withdrawal {
		background: $accent;
		height: $block-height;
		border-radius: $radius;
		text-align: center;
		font-size: 12px;
		font-weight: 700;
		line-height: $block-height;
		cursor: pointer;
		margin-bottom: 12px;
		cursor: not-allowed;
		opacity: 0.5;

		&.active {
			cursor: pointer;
			opacity: 1;
		}
	}

	.search-row {
		height: $block-height;
		margin-bottom: 15px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		h2 {
			font-size: 16px;
			font-weight: 500;
			letter-spacing: -0.32px;
			transition-duration: $duration;

			&.hidden {
				opacity: 0;
			}
		}

		.filter-button {
			position: absolute;
			top: 0;
			right: -4px;
			width: 26px;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
		}

		.search-wrapper {
			position: absolute;
			height: 100%;
			width: 26px;
			top: 0;
			right: 22px;
			overflow: hidden;
			transition-duration: $duration;
			box-sizing: border-box;
			background: $bg;

			.search-button {
				width: 26px;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				position: absolute;
				top: 0;
				left: 0;
				transition-duration: $duration;
			}

			.search {
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				border-radius: $radius;
				border: 1px solid $accent;
				padding: 0 40px;
				line-height: $block-height;
				font-size: 12px;
				font-weight: 400;
				box-sizing: border-box;
				opacity: 0;
				transition-duration: $duration;
			}

			.cross-button {
				width: 26px;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				position: absolute;
				top: 0;
				right: -26px;
				transition-duration: $duration;

				svg {
					fill: $font;
				}
			}

			&.active {
				width: calc(100% - 22px);

				.search-button {
					left: 10px;
					cursor: default;
				}

				.search {
					opacity: 1;
				}

				.cross-button {
					right: 10px;
				}
			}
		}
	}

	.transactions {
		.date {
			color: $second-font;
			font-size: 10px;
			font-weight: 400;
			letter-spacing: -0.2px;
			margin-bottom: 10px;
			text-align: center;
		}

		.transactions-block {
			border-radius: $radius;
			background: $gradient;
			margin-bottom: 15px;
		}

		.transaction {
			height: 76px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 19px;
			border-bottom: 1px solid $border;

			&:last-child {
				border-bottom: none;
			}
		}

		.right-side {
			display: flex;
			align-items: center;
			gap: 12px;

			.icon {
				width: 36px;
				height: 36px;
				border-radius: 50%;
				background: $blue;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.type {
				font-size: 12px;
				letter-spacing: -0.24px;
				margin-bottom: 1px;
				display: block;
			}

			.time {
				color: $second-font;
				font-size: 10px;
				letter-spacing: -0.2px;
				display: block;
			}

			.status {
				color: $second-font;
				font-size: 10px;
				letter-spacing: -0.2px;
				display: block;
			}

			.success {
				color: $success;
			}

			.error {
				color: $error;
			}

			.processing {
				color: $processing;
			}
		}

		.left-side {
			display: flex;
			align-items: center;
			gap: 11px;

			.price {
				font-size: 14px;
				font-weight: 500;
				letter-spacing: -0.28px;
				display: flex;
				align-items: center;
				gap: 1px;
			}

			.icon {
				width: 20px;
				height: 20px;
				display: flex;
				align-items: center;
				justify-content: center;

				svg {
					fill: white;
				}
			}

			.arrow {
				svg {
					fill: $font;
					width: 8px;
					height: 8px;
				}
			}
		}
	}
}