#home {
	width: 100%;
	height: 100%;
	padding: 11px 15px 0 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	box-sizing: border-box;
	background: $bg;

	.top-menu {
		height: 46px;
		display: flex;
		flex-shrink: 0;
		gap: 8px;

		.profile {
			background: $second;
			height: 100%;
			flex-grow: 1;
			margin-right: 7px;
			border-radius: $radius;
			display: flex;
			align-items: center;
			gap: 5px;
			padding: 0 13px 0 10px;
			cursor: pointer;

			img {
				width: 34px;
				height: 34px;
				border-radius: $radius;
				object-fit: cover;
				object-position: center;
			}

			span {
				font-size: 16px;
				font-weight: 400;
				line-height: 21.1px;
				letter-spacing: -0.04em;
				flex-grow: 1;
			}

			svg {
				fill: #AEAEB0;
				width: 11px;
				height: 11px;
			}
		}
	}

	.card {
		flex-grow: 1;
		background: $radial-gradient;
		border-radius: $radius;
		position: relative;
		display: flex;
		flex-direction: column;
		min-height: 240px;

		&-header {
			height: 73px;
			background: $border-gradient;
			border-radius: $radius;
			display: block;
			padding: 1px;
			width: 100%;

			&-content {
				background: $main-gradient;
				border-radius: $radius;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 15px 0 22px;
			}
		}

		.balance {
			cursor: pointer;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;

			.title {
				margin-bottom: 1px;
				display: flex;
				align-items: center;

				span {
					color: $second-font;
					font-size: 10px;
					font-weight: 400;
					letter-spacing: -0.2px;
					margin-right: 1px;
				}
			}

			.value {
				display: flex;
				align-items: center;

				span {
					color: $gold;
					font-size: 20px;
					font-weight: 500;
					letter-spacing: -0.4px;
					margin-right: 4px;
				}
			}
		}

		.level {
			cursor: pointer;
			text-align: center;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;

			.title {
				color: $second-font;
				font-size: 10px;
				font-weight: 400;
				letter-spacing: -0.2px;
			}

			.value {
				font-size: 32px;
				font-weight: 700;
				letter-spacing: -0.64px;
			}
		}

		.career {
			cursor: pointer;
			display: flex;
			align-items: center;
			height: 100%;

			span {
				color: $accent;
				font-size: 10px;
				font-weight: 400;
				letter-spacing: -0.2px;
				margin-right: 2px;
			}

			svg {
				fill: $accent;
				width: 5px;
				height: 5px;
			}
		}

		&-content {
			display: flex;
			align-items: center;
			justify-content: space-around;
			flex-grow: 1;
		}

		.messages {
			cursor: pointer;
			position: relative;

			.count {
				width: 9px;
				height: 9px;
				background: $accent;
				border-radius: 5px;
				color: $font;
				font-size: 5px;
				font-weight: 500;
				letter-spacing: -0.1px;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: 0;
				right: -4px;
			}
		}

		.character {
			cursor: pointer;
			width: 186px;
			height: 186px;
			border-radius: 38px;
			box-shadow: 0px 4px 8.9px 0px rgba(0, 0, 0, 0.68);

			@media (max-height: 720px) {
				width: 160px;
				height: 160px;
			}

			@media (max-height: 570px) {
				width: 100px;
				height: 100px;
			}

			.slick-slider, .slick-list {
				border-radius: 38px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				border-radius: 38px;
			}
		}

		.share {
			cursor: pointer;
		}

		&-footer {
			padding: 0 14px 14px 21px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.income {
			display: flex;
			flex-direction: column;

			.title {
				color: $second-font;
				font-size: 10px;
				font-weight: 400;
				letter-spacing: -0.2px;
				margin-bottom: 1px;
			}

			.value {
				display: flex;
				align-items: center;

				span {
					font-size: 20px;
					font-weight: 500;
					letter-spacing: -0.4px;
					margin-right: 1px;
					line-height: 25px;
				}

				svg {
					margin-top: -2px;
				}
			}

			&.month {
				right: 14px;
				align-items: flex-end;
			}
		}
	}

	.slider-container {
		padding-bottom: 15px;
	}

	.slider {
		background: $second;
		border-radius: $radius;
		padding: 17px 15px 0 21px;
		position: relative;

		.slide {
			margin-bottom: 46px;

			h2 {
				color: $font;
				font-size: 16px;
				font-weight: 500;
				letter-spacing: -0.64px;
				margin-bottom: 9px;
			}

			p {
				color: $third-font;
				font-size: 14px;
				font-weight: 400;
				letter-spacing: -0.42px;
				line-height: normal;
			}
		}

		.slick-dots {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 11px;

			li {
				margin: 0;
				width: auto;
				height: auto;

				button {
					width: 11px;
					height: 11px;
					cursor: pointer;
					position: relative;
					padding: 0;

					&::before {
						content: '';
						position: absolute;
						width: 3px;
						height: 3px;
						background: $second-font;
						border-radius: 2px;
						transition-duration: 0.2s;
						left: 50%;
						top: 50%;
						margin-left: -2px;
						margin-top: -2px;
						opacity: 1;
					}
				}

				&.slick-active {
					button::before {
						background: $accent;
					}
				}
			}
		}

		.read {
			width: 93px;
			height: 25px;
			border-radius: $radius;
			border: 1px solid $accent;
			color: $accent;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: -0.56px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			right: 15px;
			bottom: 15px;
			cursor: pointer;
		}

		@media (max-height: 685px) {
			padding: 15px 115px 0 21px;

			.slide {
				margin-bottom: 15px;

				h2 {
					margin-bottom: 0;
				}

				p {
					display: none;
				}
			}

			.slick-dots {
				display: none;
			}

		}
	}
}