@keyframes open-pop-up-wrapper {
	from {
		display: flex;
		background: rgba(0, 0, 0, 0);
	}

	to {
		display: flex;
		background: rgba(0, 0, 0, 0.5);
	}
}

@keyframes close-pop-up-wrapper {
	from {
		display: flex;
		background: rgba(0, 0, 0, 0.5);
	}

	to {
		display: flex;
		background: rgba(0, 0, 0, 0);
	}
}

@keyframes open-pop-up {
	from {
		margin-bottom: -100vh;
	}

	to {
		margin-bottom: 0;
	}
}

@keyframes close-pop-up {
	from {
		margin-bottom: 0;
	}

	to {
		margin-bottom: -100vh;
	}
}

.pop-up-wrapper {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 100;
	align-items: flex-end;
	justify-content: center;
	animation-name: close-pop-up-wrapper;
	display: none;

	.pop-up {
		background: $pop-up;
		width: 100%;
		max-width: 600px;
		min-width: 360px;
		padding: 15px 0 42px 0;
		border-radius: $radius $radius 0 0;
		animation-name: close-pop-up;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		position: relative;
		background-repeat: none;
		background-position: center;
		background-size: cover;
		max-height: 100%;

		&.pop-up-full {
			padding: 27px 0 42px 0;
			height: 100%;
		}
	}

	&.active {
		display: flex;
		animation-name: open-pop-up-wrapper;

		.pop-up {
			animation-name: open-pop-up;
		}
	}

	&.animate {
		animation-duration: $duration;

		.pop-up {
			animation-duration: $duration;
		}
	}

	.cross {
		z-index: 101;
		position: absolute;
		top: 18px;
		right: 18px;
		width: 20px;
		width: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		svg {
			fill: $second-font;
		}
	}

	h2 {
		font-size: 22px;
		font-weight: 500;
		letter-spacing: -0.44px;
		margin-bottom: 2px;
		text-align: center;
		text-transform: uppercase;
		padding: 0 15px;

		@media (max-width: 389px) {
			font-size: 18px;
		}
	}

	.description {
		color: $second-font;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: -0.28px;
		text-align: center;
		padding: 0 15px;
	}

	.save-row {
		padding: 0 15px;
	}

	.search {
		height: $block-height;
		border-radius: $radius;
		border: 1px solid $border;
		margin: 15px 15px 17px 15px;
		line-height: $block-height;
		padding: 0 15px;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: -0.24px;
	}

	.select {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		gap: 12px;
		overflow-y: auto;
		padding: 15px;

		.option {
			border: 1px solid $border;
			display: flex;
			flex-shrink: 0;
			height: $block-height;
			border-radius: $radius;
			padding: 0 11px;
			align-items: center;
			cursor: pointer;

			.icon-wrap {
				width: 24px;
				height: 24px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-left: 6px;
				margin-right: 6px;
			}

			svg:not(.ok) {
				fill: $font;
			}

			.ok {
				fill: $accent;
				margin-left: auto;
				opacity: 0;
				transition-duration: $duration;
			}

			span {
				color: $font;
				font-size: 12px;
				font-weight: 500;
				letter-spacing: -0.24px;
			}

			&.active .ok {
				opacity: 1;
			}
		}

		input {
			height: $block-height;
			border-radius: $radius;
			border: 1px solid $border;
			padding: 0 19px;
			line-height: $block-height;
			font-size: 12px;
			font-weight: 400;
			letter-spacing: -0.24px;
		}
	}

	.avatar-select {
		flex-grow: 1;
		display: flex;
		align-items: center;
		gap: 15px;
		margin: 0 auto 20px auto;
		width: 351px;
		flex-wrap: wrap;
		overflow-y: auto;
		padding: 15px;

		.avatar-card {
			display: block;
			width: 153px;
			height: 153px;
			border-radius: 38px;
			box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.68);
			opacity: 0.12;
			cursor: pointer;
			transition-duration: $duration;
			position: relative;

			&.active {
				opacity: 1;
				box-shadow: 0px 0px 8.9px 0px $accent;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				border-radius: 38px;
			}
		}

		.add-avatar {
			display: flex;
			width: 153px;
			height: 153px;
			border-radius: 38px;
			align-items: center;
			justify-content: center;
			border: 1px solid $border;
			cursor: pointer;
			position: relative;

			.comment {
				display: block;
				position: absolute;
				bottom: 12px;
				left: 0;
				width: 100%;
				text-align: center;
				color: $second-font;
				font-size: 12px;
				font-weight: 400;
				letter-spacing: -0.24px;
			}
		}
	}
}