#profile {
	width: 100%;
	padding: 18px 15px 15px 15px;

	.top-menu {
		margin-bottom: 2px;
		gap: 8px;

		.back {
			margin-right: auto;
		}
	}

	.profile-card {
		display: flex;
		align-items: center;
		gap: 16px;
		margin-bottom: 31px;

		.avatar {
			width: 102px;
			height: 102px;
			border-radius: 50%;
			cursor: pointer;
			position: relative;
			flex-shrink: 0;

			img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				object-fit: cover;
				object-position: center;
			}

			&::before {
				content: '+';
				display: flex;
				position: absolute;
				left: 6px;
				bottom: 0;
				width: 32px;
				height: 25px;
				align-items: center;
				justify-content: center;
				border-radius: 8px;
				background: $third;
				font-size: 16px;
				font-weight: 500;
				letter-spacing: -0.64px;
			}
		}

		.name-container {
			flex-grow: 1;
			padding-right: 15px;
			cursor: pointer;

			.row {
				display: flex;
				align-items: center;
				justify-content: space-between;

				svg {
					flex-shrink: 0;
				}
			}

			.nickname {
				font-size: 16px;
				font-weight: 700;
				letter-spacing: -0.64px;
				margin-bottom: 6px;
			}

			.full-name {
				color: $second-font;
				font-size: 12px;
				font-weight: 400;
				letter-spacing: -0.24px;
			}
		}
	}

	.info {
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin-bottom: 18px;

		.item {
			display: flex;
			height: 60px;
			background: $gradient;
			padding: 0 17px 0 18px;
			align-items: center;
			border-radius: $radius;
			cursor: pointer;

			span {
				margin-left: 10px;
				font-size: 14px;
				font-weight: 700;
				letter-spacing: -0.28px;
			}

			.arrow {
				fill: $font;
				width: 14px;
				height: 14px;
				margin-left: auto;
			}
		}
	}

	.exit-row {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.remove, .exit {
			cursor: pointer;
			color: $second-font;
			font-size: 12px;
			font-weight: 400;
			letter-spacing: -0.24px;
		}
	}
}