@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

$bg: #111;
$second: #151517;
$third: #262626;
$font: #FCFCFC;
$second-font: #A4A4A6;
$accent: #5A35EE;
$gold: #FED32C;
$border: #2D2D2D;
$pop-up: #131313;
$gradient: linear-gradient(225deg, $second 51%, #202024 100%);
$border-gradient: linear-gradient(231.27deg, $second 26.8%, #343232 100%);
$main-gradient: linear-gradient(231.27deg, $second 26.8%, #24242A 100.25%);
$radial-gradient: radial-gradient(50% 50% at 50% 50%, #1C1633 0%, #171719 100%);
$radius: 17px;
$block-height: 46px;

/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

/* Links */

a, a:link, a:visited {
	text-decoration: none;
	color: $font;
}

a:hover {
	text-decoration: none;
	color: $font;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
	font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

body {
	background-color: $bg;
	color: $font;
	overflow: hidden;
	font-family: "Roboto Mono", system-ui;
	font-weight: 400;
	width: 100dvw;
	min-width: 360px;
}

.App {
	width: 100%;
	height: 100dvh;
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 600px;
	margin: 0 auto;
	padding: 0;
}

.content {
	flex-grow: 1;
	overflow-y: auto;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
}

.top-menu {
	height: $block-height;
	display: flex;
	flex-shrink: 0;
	gap: 8px;
	align-items: center;

	h1 {
		margin: 0 auto;
	}
}

.button {
	background: $gradient;
	height: 100%;
	width: $block-height;
	border-radius: $radius;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

.back {
	width: $block-height;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	svg {
		fill: #AEAEB0;
		width: 14px;
		height: 14px;
		transform: rotate(180deg);
	}
}

.profile-data {
	display: flex;
	align-items: center;
	height: 48px;
	gap: 12px;
	margin-bottom: 12px;

	input.item {
		color: $font;
		font-weight: 500;
		cursor: text;

		&::placeholder {
			color: $second-font;
			font-size: 12px;
			font-weight: 400;
			letter-spacing: -0.24px;
		}
	}

	.item {
		border-radius: $radius;
		background: $gradient;
		display: flex;
		align-items: center;
		padding: 0 16px;
		color: $second-font;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: -0.24px;
		height: 100%;
		width: 33%;
		cursor: pointer;
		margin: 0;

		&.item-center {
			justify-content: center;
		}

		// svg {
		// 	margin-left: -6px;
		// 	margin-right: 6px;
		// }

		&.active {
			color: $font;
			font-weight: 500;
		}
	}
}

.save-row {
	flex-shrink: 0;
	display: flex;
	gap: 12px;
	height: $block-height;

	.cancel, .save {
		height: 100%;
		width: 50%;
		border-radius: $radius;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		color: $font;
		font-size: 12px;
		font-weight: 700;
		letter-spacing: -0.24px;
	}

	.cancel {
		border: 1px solid $border;
		cursor: pointer;
	}

	.save {
		background: $accent;
		cursor: not-allowed;
		opacity: 0.5;

		&.active {
			cursor: pointer;
			opacity: 1;
		}
	}
}

@import 'menu';
@import 'home';
@import 'invite';
@import 'rating';
@import 'task';
@import 'workshop';
@import 'profile';
@import 'settings';
@import 'pop-up';
@import 'thank-you';